* {
    margin: 0;
    padding: 0;
    background-color: #000a11;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #000a11;
    color: #f1f1f1;
}
#logo {
    color: #beb1f0;
}
#logo:hover {
    color: #9984ef;
}
.nav-link {
    color: #beb1f0;
}
.nav-link:hover {
    color: #9984ef;
}

#navbar1 {
    background-color: #000a11;
    opacity: 0.8;
}
.theme {
    color: #9984ef;
    background-color: #000a11;
}
#navbar2 {
    max-width: 1320px;
}
main {
    margin-top: 68px;
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #f1f1f1;
    line-height: 2.5 !important;
}
.container {
    margin-top: 175px;
}
.kutuici {
    background-color: #000a11;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.giriskutu {
    margin: auto;
    display: block;
}
#mail {
    margin: auto;
    display: block;
    margin-bottom: 45px;
    text-align: center;
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    background-color: #000a11;
    height: 57px;
    width: 300px;
}

#pass {
    margin: auto;
    display: block;
    margin-bottom: 45px;
    text-align: center;
    background-color: #000a11;
    border: #f1f1f1 1px solid;
    height: 57px;
    width: 300px;
    color: #f1f1f1;
}

.btn {
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #9984ef;
    color: #000a11;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    height: 57px;
    width: 300px;
}
.btn:hover {
    background-color: #beb1f0;
    color: #000a11;
}
#submithata {
    margin-bottom: 100px;
}
.hatakutu {
    margin-bottom: 40px;
}
::placeholder {
    color: #9984ef;
}
