* {
    margin: 0;
    padding: 0;
    background-color: #000a11;
}

body {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #000a11;
    color: #beb1f0;
}
.main {
    margin-top: 54px;
    padding: 50px;
    margin-left: 50px;
}
.ozgecmis {
    margin-top: 54px;
}
/* navbar baslangıc */
#logo {
    color: #beb1f0;
}
#logo:hover {
    color: #9984ef;
}
.nav-link {
    color: #beb1f0;
}
.nav-link:hover {
    color: #9984ef;
}

#navbar1 {
    background-color: #000a11;
    opacity: 0.8;
}
.theme {
    color: #9984ef;
    background-color: #000a11;
}
#navbar2 {
    max-width: 1320px;
}

/*navbar bitişi*/

main {
    margin-top: 68px;
}

body p {
    color: #f1f1f1;
    line-height: 2.5 !important;
    margin-top: 50px;
}

.baslık {
    text-align: center;
    margin-top: 30px;
    color: #f1f1f1;
    margin-bottom: 50px;
}
.carousel-item img {
    width: 100%;
    max-height: 560px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: #f1f1f1;
}
.eğirdir {
    width: 100%;
    margin: auto;
    justify-content: center;
}
.eğirdir img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.lavanta img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.lavanta {
    width: 100%;
    margin: auto;
}
.gül img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.gül {
    width: 100%;
    margin: auto;
}
.halı img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.halı {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}
